.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 68px;

  border: none;
  border-radius: 40px;

  font-size: 30px;
  font-family: "Gilroy";
  font-weight: 800;
  line-height: 36px;

  background-color: #FF9514;
  color: #FFFFFF;
}

.active {
  opacity: 1;
  transition: background-color 0.1s ease-in;
}

.active:hover {
  background-color: #111111;
}

.active:active {
  background-color: #575757;
}

.disabled {
  opacity: 0.4;
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 22px;
    line-height: 20px;
    height: 60px;
  }
}